* {
    cursor: url(../assets/CURSORHAMBURG.png), crosshair;
}

@media (max-width: 1460px) {
    .container-main {
        width: 100%; /* Gunakan 100% jika lebar layar kurang dari 1460px */
        overflow-x: auto; /* Izinkan scroll horizontal jika konten lebih besar dari layar */
    }
}

@media (min-width: 1460px) {
    .container-main {
        width: 1460px; /* Set lebar kontainer untuk layar dengan lebar 1460px atau lebih */
        overflow-x: hidden; /* Kunci scroll horizontal pada lebar 1460px */
    }
}


body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

div {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
}


.layer1 {
    background-image: url('../contents/langit.png');
    z-index: 1;
    position: absolute; 
    width: 1450px; 
    height: 650px; 
    left: 0px;
    right: 0px;
}

.layer2 {
    background-image: url('../contents/pohon.webp');
    position: absolute;
    background-repeat: no-repeat;
    z-index: 2;
    width: 1450px; 
    height: 650px;
    left: 0px;
    right: 0px;
}

.layer3 {
    background-image: url('../contents/rumah.png');
    z-index: 3;
    width: 1450px; 
    height: 680px;
    left: 0px;
    right: 0px;
}

.layer4 {
    background-image: url('../assets/rocketburger.webp');
    position: absolute;
    z-index: 4;
    top: 140px;
    left: 170px;
    width: 330px;
    height: 300px;
    transform: translate(0%, 0%);
}

.pintu {
    position: absolute;
    animation: pintuTerbukaGeser 6s infinite ease-in-out;
    top: 280px;
    left: 665px;
    width: 115px;
    height: 172px;
    z-index: 5;
}

@keyframes pintuTerbukaGeser {
    0% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(-80%, 0%);
    }
    70% {
        transform: translate(-80%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

.black {
    background-color: rgb(22, 22, 22);
    position: absolute;
    top: 280px;
    left: 665px;
    width: 115px;
    height: 172px;
    z-index: 4;
}


.restoran {
    position: absolute; /* Ubah menjadi absolute untuk memungkinkan pergerakan */
    z-index: 5;
    top: -70px;
    bottom:0px;
    left: 0px;
    right: 0px;
    right: 0px;
    height: 780px;
    width: 1450px;/* Menggunakan ukuran tetap */
}

.bendera {
    position: absolute;
    top: 300px;
    left: 805px;
    right: 0px;
    width: 260px;
    height: 41px;
    z-index: 6;
}


.kucing {
    position: absolute;
    z-index: 7;
    top: 460px;
    left: 620px;
    width: 140px;
    height: 70px;
}

.alien {
    position: absolute;
    z-index: 7;
    top: 310px;
    left: 890px;
    width: 80px;
    height: 150px;
}

.koran {
    position: absolute;
    z-index: 7;
    top: 330px;
    left: 390px;
    width: 50px;
    height: 150px;
}


.table1 {
    position: absolute;
    z-index: 8;
    top: 250px;
    right: 0px;
    left: 35px;
    width: 250px;
    height: 290px;
}

.table2 {
    position: absolute;
    z-index: 8;
    top: 350px;
    left: 385px;
    width: 230px;
    height: 160px;
}

.table3 {
    position: absolute;
    z-index: 8;
    top: 325px;
    left: 780px;
    right: 0px;
    width: 230px;
    height: 200px;
}

.waiter {
    position: absolute;
    z-index: 8;
    top: 300px;
    left: 595px;
    width: 75px;
    height: 175px;
    background-image: url('../assets/waiter.webp');
}


.trotoar {
    position: absolute;
    z-index: 9;
    width: 1450px;
    height: 170px;
    top: 500px;
    left: 0;
    right: 0;
}

.asep {
    position: absolute;
    z-index: 9;
    left: 184px;
    bottom: 55px;
    top: 480px;
    animation: swing 3s infinite ease-in-out;
}


.pepefinker {
    top: 166px;
    bottom: 75px;
    right: 0px;
    left: 1140px;
    right: 0px;
    width: 310px;
    height: 390px;
    position:absolute;
    z-index: 8;
}

.bola {
    position:absolute;
    z-index: 8;
    top: 172px; 
    left: 1130px; 
    width: 120px; 
    height: 150px;
    
}

.bola:hover {
    animation: spin 1s linear infinite;
}

.sepeda {
    position:absolute;
    z-index: 10;
    width: 250px;
    bottom: 9px;
    top: 380px;
    animation: moveRightToLeft 9s infinite ease-in-out;
}

@keyframes moveRightToLeft {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-100vw);
    }
}

.flyingburger {
    position:absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 1270px;
    right: 0px;
    width: 180px;
    height: auto;
}
